<div class="report-wrapper" *ngIf="config">

  <div class="report-header">
    {{ config.title }}
    <span class="info-icon">i</span>
  </div>

  <div class="report-card">

    <div class="section-header">Report Parameters</div>

    <form [formGroup]="form" class="form-body">

      <div class="form-row">
        <div class="form-group" *ngFor="let f of config.fields" [ngSwitch]="f.type">

          <!-- DROPDOWN -->
          <ng-container *ngSwitchCase="'dropdown'">
            <label>{{ f.label }}</label>
            <select
              class="form-control"
              [formControlName]="f.key"
              [disabled]="isDisabled(f)">
              <option value="">Select</option>
              <option *ngFor="let o of fieldOptions[f.key]" [value]="o.id">
                {{ o.name }}
              </option>
            </select>
          </ng-container>

          <!-- CHECKBOX -->
          <ng-container *ngSwitchCase="'checkbox'">
            <label class="checkbox-label">
              <input type="checkbox" [formControlName]="f.key" />
              {{ f.label }}
            </label>
          </ng-container>

        </div>
      </div>

      <div class="form-actions">
        <button
          *ngFor="let a of config.actions"
          class="btn"
          [ngClass]="a.type === 'primary' ? 'btn-submit' : 'btn-cancel'"
          (click)="handleAction(a)"
          [disabled]="a.key === 'submit' && form.invalid">
          {{ a.label }}
        </button>
      </div>

    </form>
  </div>
</div>
